- for (var object_index in objects)
	option(onclick="editor.object_library.previewObject('#{objects[object_index]._id}','#{objects[object_index].name}','#{objects[object_index].type}','#{objects[object_index].sub_type}','#{objects[object_index].details.url}','#{objects[object_index].details.scale}')") #{objects[object_index].type}/#{objects[object_index].sub_type}/#{objects[object_index].name}
		