doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name="description" content="We are Open Studios. Perth based digital production studio.")

        title= title

        include ./head_common.pug

        style.
            #page-wrapper {
                position: relative;
                z-index: 2;
            }
            #webgl-wrapper {
                overflow: hidden;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            #loader_symbols {
                display: block;
                position:absolute;
                top:0;
                left:0;
                z-index: 2;
            }

            body {
                background-color: #000;
                margin: 0;
                padding: 0;
            }
            #webgl {
                display: none;
                opacity: 0;
            }
            #pageOverlay,
            #webgl {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
            }
            #pageOverlay {
                border: 0 none;
                display: none;
                z-index: 10000;
            }
            #pokematrixSign,
            #exitSign {
                background: black;
                font-weight: bold;
                color: #fff;
                box-shadow: 0px 0px 5px 5px #00DD00;
                text-shadow: 2.5px 2.5px 5px #999;
                cursor: pointer;
                border: solid 1px #00DD00;
                border-radius: 1rem;
                padding: 0.5rem;
                position: fixed;
                top: 0;
                right: 0;
                z-index: 10001;
                padding-top: 1.75rem;
                padding-right: 1.75rem;
                margin-right: -1rem;
                margin-top: -1rem;
            }
            #pokematrixSign img,
            #exitSign img {
                max-width: min(80px, 15vw);
                height: auto;
            }
            #pokematrixSign:active,
            #pokematrixSign:focus,
            #pokematrixSign:hover,
            #exitSign:active,
            #exitSign:focus,
            #exitSign:hover {
                box-shadow: 0px 0px 7.5px 7.5px #00FF00;
                border-color: #00FF00;
            }

            #pokematrixSign {
                opacity: 0;
                cursor: pointer;
                z-index: 10003;
            }
            #exitSign {
                display: none;
            }
            #pokematrixImage,
            #pokematrixCanvas {
                border-radius: 1rem;
                height: auto;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 10002;
            }
            #pokematrixImage {
                top: 13rem;
            }

            @media screen and (min-width: 640px) {
                #pokematrixSign,
                #exitSign {
                    padding: 1rem;
                    margin-top: 0rem;
                    margin-right: 0rem;
                    top: 2rem;
                    right: 3rem;
                }
                 #pokematrixImage,
                #pokematrixCanvas {
                    right: calc(3rem - 5px);
                    top: calc(2rem - 5px);
                }
            }
    body(onload="_init( 3000 );")
        noscript
            style.
                h1#loadingSign { display: none }
        - var isIframe = false
        include ./1999_layout.pug
        #webgl-wrapper
            a#exitSign(href="#")
                img(src='./assets/exit.svg' title='Return to the office' width='300' height='85')
            iframe#pageOverlay
            #webgl
            script#vertexshader(type='x-shader/x-vertex').
                varying vec2 vUv;
                void main() {
                    vUv = uv;
                    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
                }
            script#fragmentshader(type='x-shader/x-fragment').
                // Kudos to https://github.com/mrdoob/three.js/issues/14104#issuecomment-1536582334
                uniform sampler2D baseTexture;
                uniform sampler2D bloomTexture;
                varying vec2 vUv;
                void main() {
                    vec4 base_color = texture2D(baseTexture, vUv);
                    vec4 bloom_color = texture2D(bloomTexture, vUv);
                    float lum = 0.21 * bloom_color.r + 0.71 * bloom_color.g + 0.07 * bloom_color.b;
                    gl_FragColor = vec4(base_color.rgb + bloom_color.rgb, max(base_color.a, lum));
                }

            script
                include ../scripts/scenograph.js
            script
                include ../scripts/pokematrix.js
            script.
                var _paq = window._paq = window._paq || [];
                /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                var u="https://analytics.openstudios.xyz/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '11']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                })();
