doctype html
html
    head
        title= title
        base(href="../")
        meta(name="description" content="We are Open Studios. Perth based digital production studio.")

        include ./head_common.pug

    body
        - var isIframe = true
        include ./1999_layout.pug
        script.
                var _paq = window._paq = window._paq || [];
                /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                var u="https://analytics.openstudios.xyz/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '11']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                })();