doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name="description" content=description)

        title= title

        include ./head_common.pug

        style.
            #page-wrapper {
                position: relative;
                z-index: 0;
            }
            #webgl-wrapper {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            #loader_symbols {
                display: block;
                position:absolute;
                top:0;
                left:0;
                z-index: 2;
            }
            h1#loadingSign {
                color: #dedede;
                display: flex;
                position: absolute;
                z-index: 2;
                bottom: 1rem;
                right: 2rem;
            }
            h1#loadingSign div {
                display: inline-block;
                font-family: monospace;
                font-size: 2.5rem;
                padding: 1rem 2.5rem 1rem 0;
            }
            h1#loadingSign img {
                height: 5rem;
                width: 5rem;
            }

            body {
                background-color: #000;
                margin: 0;
                padding: 0;
            }
            #webgl {
                opacity: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
            }
            .tp-dfwv {
                z-index: 1;
            }

    body(onload="_init( 3000 );")
        noscript
            style.
                h1#loadingSign { display: none }
                #page-wrapper {
                    z-index: 2;
                }
        #webgl-wrapper
            canvas#loader_symbols
            canvas#loader_image
            h1#loadingSign
                div Loading
                img(src='/assets/images/tail-spin.svg' alt='Loading spinner')
            include ../templates/door_image.pug
            include ../templates/flight_instruments.pug
            #webgl
            // Shaders
            script(type='x-shader/x-vertex', id='cloudVertShader')
                include ../shaders/cloud.vert
            script(type='x-shader/x-vertex', id='cloudFragShader')
                include ../shaders/cloud.frag
            script#vertexshader(type='x-shader/x-vertex').
                varying vec2 vUv;
                void main() {
                    vUv = uv;
                    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
                }
            script#fragmentshader(type='x-shader/x-fragment').
                // Kudos to https://github.com/mrdoob/three.js/issues/14104#issuecomment-1536582334
                uniform sampler2D baseTexture;
                uniform sampler2D bloomTexture;
                varying vec2 vUv;
                void main() {
                    vec4 base_color = texture2D(baseTexture, vUv);
                    vec4 bloom_color = texture2D(bloomTexture, vUv);
                    float lum = 0.21 * bloom_color.r + 0.71 * bloom_color.g + 0.07 * bloom_color.b;
                    gl_FragColor = vec4(base_color.rgb + bloom_color.rgb, max(base_color.a, lum));
                }
            
            script
                include ../scripts/l.js
            script
                include ../scripts/matrix.js
            script.
                var _paq = window._paq = window._paq || [];
                /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                var u="https://analytics.openstudios.xyz/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '11']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                })();